body {
    background-color:#fefefe;
    color:#111;
    background-image:url(/images/noise.png);
}

body.splash {
    background:rgba(0,0,0,.5) url(http://buddymeme.com/bg.jpg);
    background:url(http://i.imgur.com/HOj8c.jpg);
}

.splash-supercontainer {
	width:100%;
	background-image:url(/images/noise.png);
	background-color:rgba(252,252,252,.9);
	padding-bottom:20px;
	padding-top:20px;
	margin-top:10%;
	border-top:2px solid #888;
	border-bottom:2px solid #888;
}

h1,h2,h3,h4,p {
    color:#111;
    text-shadow:1px 1px 1px #ccc;
}

h3,h4,p {
	font-family:'proxima-nova-1','proxima-nova-2';
	font-weight:normal;
}

.logo {
	background-image: url(/images/logo.png);
	height: 64px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 400px;
	display: block;
    margin:0 auto;
	margin-bottom:-10px;
}

.splash .logo {
	margin-bottom:20px;
}

h2 {
	font-size:52px;
	line-height:1em;
	font-family:'proxima-nova-1', 'proxima-nova-2', 'peachy-keen-1', 'peachy-keen-2';
}

h3 {	
	font-size:22px;
	line-height:1.25em;
}

h4 {
	font-size:20px;
	margin-bottom:0px;
}

.clear {
	clear:both;
}

.facebook-login {
  background-image: url('/images/facebook-login.png');
  background-repeat:no-repeat;
  width: 251px;
  height: 46px;
  cursor: pointer;
  text-indent: -9999px;
  display:block;
  margin:0 auto;
}

.facebook-login:hover {
  background-position: 0px -46px;
}

.facebook-login:active {
  margin-top:2px;
}

.fb-like {
	margin-top:20px;
}

.crumbs{
    margin-left:-10px;
    font-size:24px;
    color:#111;
}

.crumb {
	font-size:24px;
	text-decoration:none;
	margin-right:10px;
	margin-left:10px;
	font-family:'proxima-nova-1';
	color:#0000aa;
}

.crumb:after {
}

.crumb:hover {
	text-decoration:underline;
	color:#0000cc;
}

.crumb:after:hover {
	text-decoration:none;
	color:#888;
}

.crumb.current {
	font-weight:bold;
	color:#111;
}

.crumb.current:hover {
	text-decoration:none;
}

.crumb.current:after {
	content:"";
}

.friend {
	text-align:center;
	text-decoration:none;
	color:#000088;
	padding-top:12px;
	padding-bottom:6px;
	background-color:rgba(226,226,226,.4);
	border-radius:8px;
	box-shadow:1px solid red;
	font-family:'proxima-nova-1','proxima-nova-2';
	overflow:hidden;
	height:74px;
	display:block;
}

.friend:hover {
	background-color:rgba(226,226,226,.6);
	color:#0000aa;
	text-decoration:underline;
}

.friend img {
	display:inline;
	clear:both;
}

.friend span.bottom {
	display:block;
	text-align:center;
	font-weight:bold;
	padding-top:8px;
	text-decoration:none;
}

.search {
	border:1px solid #ccc;
	background-color:#fcfcfc;
	font-size:24px;
	padding:6px;
	border-radius:4px;
	margin:0;
	width:400px;
	font-family:'proxima-nova-1', 'proxima-nova-2';
	float:left;
	display:block;
}

.searchicon {
	width:24px;
	height:24px;
	background-image:url(/images/find.png);
	float:left;
	margin-left:-32px;
	margin-top:10px;
}

/*
ul.friends {
	display:block;
	margin-top:20px;
	list-style:none;
}

ul.friends li {
	font-family:'proxima-nova-1','proxima-nova-2';
	overflow:hidden;
}

ul.friends li:nth-child(4n+2), ul.friends li:nth-child(4n+3){
	text-align:center;
}

ul.friends li:nth-child(4n+4){
	text-align:right;
}
*/

.supercontainer {
	background-color:rgba(226,226,226,.4);
	padding-top:10px;
	padding-bottom:-30px;
	margin-bottom:10px;
}

.thumb-container {
    margin-bottom:30px;
    display:block;
    height:130px;
}

.thumb-container:hover img {
    border:5px solid rgba(0,0,226,.5);
}

.thumb-container img {
    margin:0 auto;
    display:block;
    border:5px solid #ddd;
    border-radius:5px;
}

.tabs a {
    text-decoration:none;
    color:#0000aa;
}

.tabs .current {
    font-weight:bold;
    color:#111;
}

.memetext {
    width:360px;
    margin:0 auto;
    display:block;
    padding:5px;
    margin-bottom:10px;
    font-family:'proxima-nova-1','proxima-nova-2';
    font-size:24px;
    border:1px solid #aaa;
    border-radius:5px;
}

canvas {
    display:block;
    margin:0 auto;
}

#post {
    width:140px;
    margin:0 auto;
    display:block;
    margin-bottom:10px;
}

.footer {
    text-align:center;
}

.footer a {
    color:#0000aa;
    text-decoration:none;
    margin-right:10px;
}

.footer div {
    margin-right:10px;
}

.home h2, .home p {
    text-align:center;
}

.home {
    text-align:center;
}

.home img {
    display:inline-block;
}