<body>
  <div class="supercontainer">
  	<div class="container_12">
  		<div class="grid_12">
  			<a class="logo">BuddyMeme</a>
  		</div>
  	</div>
  </div>
  <div class="container_12">
    <h2>About</h2>
    <p>Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. </p>
    <h3>The Team</h3>
    <div class="member">
      <b>Raj Vir</b>
      <img src="http://dummyimage.com/240x320" />
      <p>Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. </p>
    </div>
    <div class="member">
      <b>Raj Vir</b>
      <img src="http://dummyimage.com/240x320" />
      <p>Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. </p>
    </div>
    <div class="member">
      <b>Raj Vir</b>
      <img src="http://dummyimage.com/240x320" />
      <p>Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. </p>
    </div>
    <div class="member">
      <b>Raj Vir</b>
      <img src="http://dummyimage.com/240x320" />
      <p>Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. </p>
    </div>
  </div>