<body>
  <div class="supercontainer">
  	<div class="container_12">
  		<div class="grid_12">
  			<a class="logo" href="/">BuddyMeme</a>
  		</div>
  	</div>
  </div>
  <div class="container_12">
    <div class="grid_12">
      <h2>About</h2>
      <p>Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. Quick paragraph about BuddyMeme. </p>
    </div>
    <div class="grid_12">
      <h3>Contact Us - <a href="mailto:contact@buddymeme.com" style="text-decoration:none;">contact@buddymeme.com</a></h3>
    </div>
    <div class="grid_12">
      <h3 style="font-weight:bold;">The Team</h3>
    </div>
    <div class="member grid_4">
      <h4>Raj Vir</h4>
      <img src="http://dummyimage.com/300x400" />
      <p>Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. </p>
    </div>
    <div class="member grid_4">
      <h4>Raj Vir</h4>
      <img src="http://dummyimage.com/300x400" />
      <p>Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. </p>
    </div>
    <div class="member grid_4">
      <h4>Raj Vir</h4>
      <img src="http://dummyimage.com/300x400" />
      <p>Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. Description of Raj. </p>
    </div>
  </div>