<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=204060336365834";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="supercontainer">
  	<div class="container_12">
  		<div class="grid_12">
  			<a class="logo" href="/">BuddyMeme</a>
  		</div>
  	</div>
  </div>
  <div class="container_12">
    <div class="grid_12">
      <h2>About</h2>
      <p>Sitting at the Michigan Facebook Hackathon, surrounded by some of the top junior and senior
      programmers in the school, Raj, Shiva, and David didn’t even know where to start. Equipped with only
      two laptops, a short list of ideas, and one CS class that they took together, they were ready to make
      something cool. <br /><br />

      The entire team thought it would be really cool if they could just make funny memes of their friends
      without having to upload images.<br /><br />

      For 20 hours straight, we worked on building something our friends would like. Reading through
      hundreds of pages of code on html5 canvas and facebook graph API, we posted our first meme at 11am
      on Saturday, March 17, 2012. Little did we know that we had created something big. Within a day,
      BuddyMeme boasted over 1500 users. </p>
    </div>
    <div class="grid_12">
      <h3>Contact Us - <a href="mailto:info@buddymeme.com" style="text-decoration:none;">info@buddymeme.com</a></h3>
    </div>
    <div class="grid_12">
      <h3 style="font-weight:bold;">The Team</h3>
    </div>
    <div class="member grid_3">
      <h4><a href="http://rjvir.com" target="_blank">Raj Vir</a></h4>
      <img src="/images/raj.png" />
      <p>Raj is a designer, programmer, and product guy at BuddyMeme. </p>
    </div>
    <div class="member grid_3">
      <h4><a href="http://twitter.com/cewendel" target="_blank">Chris Wendel</a></h4>
      <img src="/images/chris.png" />
      <p>Last Summer Chris was a brogrammer at Twilio and he plans to continue his brogramming there this summer. We are very excited for his advances as a backend brogrammer. Learning from Brobiwon Kibrobi, he has become one of the most esteemed programmers here at Michigan and looks forward to battling Darth Bro at the official Facebook Hackathon in November. </p>
    </div>
    <div class="member grid_3">
      <h4><a href="http://facebook.com/davefontenot" target="_blank">David Fontenot</a></h4>
      <img src="/images/david.png" />
      <p>Coming into Michigan without ever having seen a program before in his life, David thought it was all about the 0s and 1s. Regardless of what he thought before, after taking his first CS class, he has fallen in love with the hacker lifestyle. Currently picking up html, php, javascript, python, ruby, java, and C++ all at the same time, David aims to one day follow Chris or Raj in their dedicated vocations. </p>
    </div>
    <div class="member grid_3">
      <h4><a href="http://twitter.com/shivakilaru" target="_blank">Shiva Kilaru</a></h4>
      <img src="/images/shiva.png" />
      <p>Shiva is the lion of BuddyMeme. Although he shortly comes in to actually lay down some code, when the lion does show up, he ROARS. A Sophomore at Michigan on the executive team of MPowered Entrepreneurship, Shiva is key to product development and is a self-made design guru. </p>
    </div>
  </div>