<body>
	<div class="supercontainer">
	  <div class="container_12">
		  <div class="grid_12">
			  <a href="/" class="logo">BuddyMeme</a>
		  </div>
		</div>
	</div>
	<div class="container_12 home">
		<div class="grid_10 prefix_1 suffix_1">
		    <h2>Create Memes of Your Friends</h2>
		    <h3>View and create hilarious memes using pictures of your friends. It's super easy and fun! Login with Facebook to get started.</h3>
		    <%= link_to 'Login with  Facebook', @auth_url, :class=>"facebook-login"%>
	  </div>
	  <div style="clear:both;"></div>
    <div style="width:480px; height: 360px; margin:0 auto; margin-bottom:20px; display:block;" class="cycle">
  	  <img src="http://dummyimage.com/480x360" />
  	  <img src="http://dummyimage.com/480x360" />
  	  <img src="http://dummyimage.com/480x360" />
  	  <img src="http://dummyimage.com/480x360" />
  	  <img src="http://dummyimage.com/480x360" />
    </div>
    <div style="clear:both;"></div>
  </div>
  <script type="text/javascript">
    mixpanel.track("Viewed Splash Page");
    mixpanel.track_links('.facebook-login', 'Clicked "Login With Facebook"');
  </script>
  