<body class="splash">
	<div class="splash-supercontainer">
	  <div class="container_12">
		<div class="grid_12">
			<a href="/" class="logo">BuddyMeme</h1>
		</div>
	    <div class="grid_5 cycle">
	    	<img src="/images/rauh.png" />
	    	<img src="/images/neil.png" />
	    	<img src="/images/han.png" />
	    	<img src="/images/martin.png" />
	    	<img src="/images/danyaal.png" />
	    </div>
		<div class="grid_6 prefix_1">
		    <h2>Create Memes of Your Friends</h2>
		    <h3>View and create hilarious memes using pictures of your friends. It's super easy and fun!</h3>
		    <%= link_to 'Login with Facebook', @auth_url, :class=>"facebook-login"%>
		    <%= link_to 'About', about_path %>
		    <%= link_to 'Terms', terms_path %>
	    </div>
	  </div>
	</div>
	<div class="container_12">
		<div class="grid_6 prefix_6">
			<div class="fb-like" data-href="http://buddymeme.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>

		</div>
	</div>

