<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=204060336365834";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
	<div class="supercontainer">
	  <div class="container_12">
		  <div class="grid_12">
			  <a href="/" class="logo">BuddyMeme</a>
		  </div>
		</div>
	</div>
	<div class="container_12 home">
		<div class="grid_10 prefix_1 suffix_1">
		    <h2>Create Memes of Your Friends</h2>
		    <h3>View and create hilarious memes using pictures of your friends. It's super easy and fun! Login with Facebook to start making memes.</h3>
		    <%= link_to 'Login with  Facebook', @auth_url, :class=>"facebook-login"%>
	  </div>
    <div class="grid_10 prefix_1 suffix_1">
  	  <img src="/images/rauh.png" />
  	  <img src="/images/neil.png" />
  	  <img src="/images/han.png" />
  	  <img src="/images/martin.png" />
      <img src="/images/danyaal.png" />
    </div>
  </div>