<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=204060336365834";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="supercontainer">
  	<div class="container_12">
  		<div class="grid_12">
  			<a class="logo" href="/">BuddyMeme</a>
  		</div>
  	</div>
  </div>
  <div class="container_12">
    <div class="grid_12 steps">
      <h2>Enabling Permissions</h2>
      <p>Some users prevent apps from accessing their photos. Because of this, people aren't able to make Buddy Memes out of those photos. Here is a step-by-step guide to enabling photo permissions for apps</p>
      <img src="/images/steps/1.png">
      <img src="/images/steps/2.png">
      <img src="/images/steps/3.png">
      <img src="/images/steps/4.png">
    </div>
  </div>