<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=204060336365834";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div class="supercontainer">
	<div class="container_12">
		<div class="grid_12">
			<a class="logo" href="/">BuddyMeme</a>
		</div>
	</div>
</div>
<div class="container_12">
  <div class="grid_12 tacenter">
    <h3 style="text-align:center;">Your Photo was successfully uploaded</h3>
    <a href="/friends" class="another button">Create Another Meme</a>
    <img src="<%=@photo["source"] %>" style="width:<%=@photo["width"] %>; height:<%=@photo["height"] %>; margin: 0 auto; display:block;" />
  </div>
</div>