<!DOCTYPE html>
<html> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<title>
			Buddy Meme
		</title> 
		<meta name="description" content="View and create hilarious memes of your friends. It's super easy and fun!" />
		<meta name="keywords" content="buddymeme, buddy meme, buddymemes, buddy memes, friend memes, friend meme, make memes of your friends, facebook memes" />
		<meta name="title" content="BuddyMeme - Create Memes of Your Friends" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/text.css" />
		<link rel="stylesheet" type="text/css" href="css/960.css" />
		<link rel="stylesheet" type="text/css" href="css/buddymeme.css" />
		<link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-18115656-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
		<script type="text/javascript" src="http://use.typekit.com/rzf1fbu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
		<script type="text/javascript" src="/js/base64.js"></script>
		<script type="text/javascript" src="/js/canvas2image.js"></script>
		<script type="text/javascript" src="/js/buddymeme.js"></script>
    <!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_links track_forms register register_once unregister identify name_tag set_config".split(" ");for(e=0;e<
    g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
    mixpanel.init("8753e85e9927989cefca7ab069f0672e");</script><!-- end Mixpanel -->    
	</head>

<%= yield %>
  <div class="container_12">
    <div class="grid_12 footer">
      <a href="/about">About</a>
      <div class="fb-like" data-href="http://buddymeme.com" data-send="false" data-layout="button_count" data-width="24" data-show-faces="false" data-font="arial"></div>
    </div>
  </div>
  </body>
  <script type="text/javascript">
    mixpanel.name_tag("<%=@name%>");
  </script>
</html>
